#header {width:90%;height:180px;background-color:#FFFFFF;border:thick; margin:0 auto;}
#logodiv {width:75%;float:left;height:160;}
#mainbody {width:90%;height:260px;background-color:#FFFFFF;border:thick; margin: 0 auto;}
#usercontrol {width:25%;float:right;height:160;}
